
@namespace Embyte.Shared.Product

@using MudBlazor

<h1 class="text-2xl md:text-4xl text-b600 m-3 text-center">
    Contributing to Embyte
</h1>

<div class="flex justify-center mb-16">
    <div class="md:grid md:grid-cols-3">
        <div class="flex flex-col items-center justify-center">
            <a href="https://github.com/DavideWiest/Embyte/fork">
                <MudButton Variant="Variant.Filled" Class="rounded-xl m-4 text-center w-48" Color="Color.Secondary">
                    Visit Repository
                </MudButton>
            </a>
            <a href="mailto:davide.wiest2@gmail.com">
                <MudButton Variant="Variant.Filled" Class="rounded-xl m-4 text-center w-48" Color="Color.Secondary">
                    Email developer
                </MudButton>
            </a>
            <a href="https://github.com/DavideWiest/Embyte/issues">
                <MudButton Variant="Variant.Filled" Class="rounded-xl m-4 text-center w-48" Color="Color.Secondary">
                    Open issue
                </MudButton>
            </a>
            <a href="https://github.com/DavideWiest/Embyte/fork">
                <MudButton Variant="Variant.Filled" Class="rounded-xl m-4 text-center w-48" Color="Color.Secondary">
                    Fork repository
                </MudButton>
            </a>
        </div>
        <div class="flex justify-center items-center col-span-2">
            <div class="m-4 md:m-8" style="font-size:larger">
                Embyte is an open-source project that welcomes contributions from developers, designers, and users alike. 
                <br />
                You can contribute by developing, providing feedback, reporting bugs, or spreading the word. 
                <br />
                If you're a developer, work on bug fixes, new features, or improvements by forking our GitHub repository and submitting pull requests. 
                <br />
                We value your input, and your feedback is important to us, so please consider filling out our feedback form. 
                <br />
                <br />
                <b>Thank you!</b>
                <div class="my-3">
                    <img src="https://github.com/DavideWiest/Embyte/actions/workflows/dotnet-desktop.yml/badge.svg" />
                </div>
            </div>
        </div>
    </div>
</div>
