@using MudBlazor
@using Embyte.Shared
@using Embyte.Modules
@using Embyte.Data.Storage
@using Embyte.Modules.Logging

<div id="embedDemo"></div>
<Embed Url="@Url" ShowStatus="true"/>
<div class="h-5"></div>
<MudTextField Label="Try a Url!" @bind-Value="@UrlFront" DebounceInterval="400" OnDebounceIntervalElapsed="Rerender" OnBlur="Rerender" />

@code {
    [Parameter]
    public string Url { get; set; } = EmbyteStorage.DefaultUrl;
    private string UrlFront { get; set; } = EmbyteStorage.DefaultUrl;

    private void Rerender()
    {
        Log.Debug("UrlFront: {url}", UrlFront);

        UrlFront = WebHelper.AddHttpsIfNotExists(UrlFront);

        if (WebHelper.CorrectUrlPattern(UrlFront))
        {
            Log.Debug("Url request: {url}", UrlFront);
            Url = UrlFront;
        }
    }
}
