* {
    font-family: 'Inter', 'Roboto', 'Helvetica', sans-serif;
}

.code {
    font-family: 'Fira Code', monospace;
}

.intertight {
    font-family: 'Inter Tight', 'Inter', 'Roboto', 'Helvetica', sans-serif;
}

.roboto {
    font-family: 'Roboto', 'Inter', 'Helvetica', sans-serif;
}

a:hover {
    cursor: pointer;
}

.text-b500 {
    font-weight: 500 !important;
}

.text-b600 {
    font-weight: 600 !important;
}

.text-b700 {
    font-weight: 700 !important;
}

.text-b800 {
    font-weight: 800 !important;
}

.text-b900 {
    font-weight: 900 !important;
}

::selection {
    color: rgb(255, 255, 255);
    background: #673ab760 !important;
}

::-moz-selection {
    color: rgb(20, 20, 20);
    background: #673ab760 !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgba(100, 100, 100, 0.3);
    border-left: 1px solid rgb(60, 60, 60);
    backdrop-filter: blur(20px);
}

::-webkit-scrollbar-thumb {
    background: rgb(80, 80, 80);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
}

:focus {
    outline: none;
}

/* Custom CSS to hide scrollbars */
.hide-scrollbar::-webkit-scrollbar {
    width: 0.4rem; /* Adjust the scrollbar width as needed */
}

.hide-scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent; /* Hide the thumb (drag handle) */
}