@page "/"
@namespace Embyte.Pages

@using MudBlazor
@using Embyte.Shared.Layout
@using Embyte.Shared.BaseUI.Buttons
@using Embyte.Data.Storage
@using Embyte.Shared.Product
@inject Constants constants

<PageTitle>Embyte</PageTitle>

<HeroSection title="Embyte" description="Always-free open-source minimalistic embed creator. You can use the embeds in iFrames."
             actionText="Visit Repository" actionLink="https://github.com/DavideWiest/Embyte">
    <EmbedDemo Url="@Url" />
</HeroSection>

<IFrameBuilder />

<div class="flex justify-center">
    <div class="flex">
        <a href="https://forms.gle/zYeA61AgoGPKT4d26">
            Take a short feedback survey
        </a>
        <a href="mailto:davide.wiest2@gmail.com">
            Email the developer
        </a>
    </div>
</div>

<UsageView Url="@Url"/>

@code {
    public string Url = EmbyteStorage.DefaultUrl;
    protected override void OnInitialized()
    {

    }
}

