@namespace Embyte.Pages

@page "/embed-view"
@using MudBlazor
@using Embyte.Shared
@using Embyte.Modules
@using Embyte.Shared.Product
@using Embyte.Data.Storage
@inject Constants constants
@inject MainStorage mainstorage
@inject NavigationManager NavigationManager


<div class="width-screen height-screen flex justify-center items-center">
    @if (!showError)
    {
        <div>
            <Embed Url="@TargetUrl" ShowStatus="true" ShowRequestCount="true"/>
        </div>
    } else
    {
        <p>
            Invalid Url
        </p>
    }
</div>


@code {
    [Parameter]
    public string TargetUrl { get; set; } = EmbyteStorage.DefaultUrl;
    private bool showError = false;

    private Dictionary<string, string> queryParameters = new Dictionary<string, string>();

    protected override void OnInitialized()
    {
        // Get the current URL
        var uri = new Uri(NavigationManager.Uri);

        // Extract query parameters
        var queryParams = System.Web.HttpUtility.ParseQueryString(uri.Query);

        foreach (string key in queryParams)
        {
            queryParameters.Add(key, queryParams[key]);
        }

        TargetUrl = queryParameters["url"];
    }

    private string GetDecodedSanitizedUrl()
    {
        if (!WebHelper.CorrectUrlPattern(TargetUrl))
        {
            showError = true;
        }
        return TargetUrl;
    }
}